.component-button {
  display: inline-flex;
  width: 25%;
  
  /* flex: 1 0 auto; */
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: black;
  border: 0;
  font-size: 1.2rem;
  margin: 0 1.7px 1.5px 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: black;
  color: orange;
}

.component-button.red button {
  background-color: black;
  color: #971717;
}
.component-button.green button {
  background-color: black;
  color: green;
}

.buttonText:hover{
  color:#ffb06b;
  cursor:pointer;
  }

.buttonText {
  color:#a19b9b;
  font-family:Work Sans;
  border-radius: 4px;
  background: #000;
  box-shadow:  5px 5px 40px #101010, 
               -5px -5px 40px #424242;
  
}